.App-header {
  margin: 30px 0;
  font-size: 42px;
  text-align: center;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.App a {
  color: #6c63ff;
}
